@font-face {
    font-family: 'Qartella';
    src: url("../vendor/fonts/Qartella/TTF/Qartella-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Qartella';
    src: url("../vendor/fonts/Qartella/TTF/Qartella-Italic.ttf") format('truetype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'Qartella';
    src: url("../vendor/fonts/Qartella/TTF/Qartella-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}